@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-Gray
}



.text-gradient span{
    background: linear-gradient(89.97deg, #016dc5 1.84%, #c23701 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.result-div {
    height: 70vh;
    overflow-y: scroll;
}
.result-div::-webkit-scrollbar {
    display: none;
}

.result-div p{
    color: #d3d3d3;
    font-weight: 500;
}
.result-div p b {
    color: #f1f1f1;
    font-weight: 500;
}